@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}

//***************

/*去掉webkit默认的表单样式*/

button,
input,
optgroup,
select,
textarea {
    -webkit-appearance: none;
}


/*去掉a、input和button点击时的蓝色外边框和灰 色半透明背景*/

a,
button,
input,
optgroup,
select,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*修改webkit中input的planceholder样式*/

input::-webkit-input-placeholder {
    color: #b2a5c2;
    font-size: 0.08rem;
    font-weight: 100;
    padding: 0 0.05rem;
}

//********************
//头部
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    .header {
        width: 20.7rem;
        height: 1.5rem;
        display: flex;
        justify-content: space-around;
        .header-left {
            img {
                width: 2.65rem;
                height: 1.7rem;
            }
        }
        form {
            height: 1.5rem;
            input {
                border-radius: 0.5rem;
                //              width:13.5rem;
                height: 1.5rem;
            }
        }
        .header-right {
            font-size: 0.45rem;
            img {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}

.lunbo {
    background: white;
    margin-top: -1.5rem;
    img {
        width: 100%;
        height: 100%;
    }
}

.nav {
    background: white;
    width: 20.7rem;
    padding-top: 1.65rem;
    ul {
        width: 20.7rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .nav-li1 {
            padding-top: 1.1rem;
        }
        li {
            width: 5.175rem;
            text-align: center;
            font-size: 0.45rem;
            img {
                width: 2.25rem;
                height: 2.25rem;
            }
        }
    }
}

.list1 {
    width: 20.7rem;
    background: white;
    ul {
        width: 20.7rem;
        display: flex;
        justify-content: space-around;
        li {
            padding-top: 1.1rem;
            padding-bottom: 0.65rem;
            height: 100px;
            width: 138px;
            text-align: center;
            img {
                width: 3.15rem;
                height: 1.9rem;
            }
            p {
                padding-top: 18px;
            }
        }
        .list1-li1 {
            color: #e55b4f;
        }
        .list1-li2 {
            border-left: 1px solid gainsboro;
            border-right: 1px solid gainsboro;
            color: #43bd4d;
        }
        .list1-li3 {
            color: #7ccaec;
        }
    }
}

//会员
.list2 {
    width: 20.7rem;
    background: white;
    margin-top: -12px;
    border-top: 1px solid gainsboro;
    ul {
        width: 20.7rem;
        display: flex;
        justify-content: space-around;
        .list2-li {
            border-left: 1px solid gainsboro;
        }
        li {
            text-align: center;
            width: 10.35rem;
            height: 4.85rem;
            img {
                width: 7.6rem;
                height: 4.85rem;
            }
        }
    }
}

.list3 {
    width: 20.7rem;
    background: white;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    margin-top: -0.5rem;
    ul {
        padding-top: 1.05rem;
        width: 20.7rem;
        display: flex;
        justify-content: space-around;
        color: #666666;
        .list3-li1 {
            width: 5.2rem;
            height: 5.75rem;
            text-align: center;
            img {
                width: 2.25rem;
                height: 2.6rem;
            }
        }
        .list3-li2 {
            width: 9.2rem;
            height: 5.75rem;
            text-align: center;
            border-left: 1px solid gainsboro;
            border-right: 1px solid gainsboro;
            img {
                width: 5.6rem;
                height: 3.2rem;
            }
        }
        .list3-li3 {
            width: 6.3rem;
            height: 5.75rem;
            text-align: center;
            img {
                width: 4.1rem;
                height: 2.35rem;
            }
        }
    }
}

.list4 {
    width: 20.7rem;
    height: 8.85rem;
    background: white;
    .list4-div1 {
        width: 20.7rem;
        height: 8.85rem;
        background: url(../img/index_qnav_ds.png) center no-repeat;
        background-size: 5.25rem 5.15rem;
        display: flex;
        justify-content: space-between;
        padding-top: 0.9rem;
        .ul1 {
            padding-left: 0.5rem;
            li:nth-of-type(1) {
                color: #2ed092;
            }
        }
        .ul2 {
            li {
                padding-top: 10px;
                padding-left: 20px;
                img {
                    width: 1.95rem;
                    height: 1.4rem;
                }
            }
        }
        .ul3 {
            margin-top: -0.5rem;
        }
    }
}

//今日值得买
.list5 {
    width: 20.7rem;
    background: white;
    h3 {
        border-left: 0.25rem solid #ff9804;
    }
    ul {
        width: 20.7rem;
        .li {
            border-bottom: 1px solid gainsboro;
        }
        li {
            width: 20.7rem;
            height: 6rem;
            display: flex;
            justify-content: space-around;
            border-top: 1px solid gainsboro;
            padding: 0.6rem 0 1.15rem 0;
            .list5-div2 {
                .list5-text1 {
                    font-weight: 700;
                    font-size: 0.45rem;
                    color: black;
                }
                .list5-text2 {
                    color: #999999;
                }
                .list5-text3 {
                    width: 12.85rem;
                    display: flex;
                    justify-content: space-between;
                    span:nth-of-type(1) {
                        color: #ff4397;
                    }
                }
            }
        }
    }
}

.refurbish {
    height: 2.45rem;
    line-height: 2.45rem;
    width: 20.7rem;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    text-align: center;
    background: white;
    margin-top: -0.6rem;
}

//页脚、
footer {
    .footer {
        width: 20.7rem;
        height: 2.85rem;
        background: white;
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 0.4rem 0;
        a {
            color: black;
        }
    }
}